body {
  font-family: "arial", sans-serif;
  background: rgb(226,223,247);
  background: radial-gradient(circle, rgba(226,223,247,1) 0%, rgba(227,245,223,1) 100%);
}

@import url('https://fonts.googleapis.com/css?family=Abel');
h1{
  font-family: 'Abel', sans-serif;
  font-weight:100;
  font-size: 40px;
  text-align:left;
  background: #FF0505;
  background: linear-gradient(to right, #FF0505 0%, #FF8000 30%, #FF0011 60%, #FF3C00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  font-family: 'Abel', sans-serif;
  font-weight:100;
  font-size: 20px;
  text-align:left;
  background: #FF0505;
  background: linear-gradient(to right, #FF0505 0%, #FF8000 30%, #FF0011 60%, #FF3C00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p, a, ul {
  font-family: 'Abel', sans-serif;
  font-weight:100;
  font-size: 15px;
  text-align:left;
  background: #FF0505;
  background: linear-gradient(to right, #FF0505 0%, #FF8000 30%, #FF0011 60%, #FF3C00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container{
  width:80%;
  margin:0 auto;
}

a{
	outline: 0 !important;
}